---
import Aboutlanding from "../components/Aboutlanding.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
---
<Mainlayout title="Om os - JT Anlæg">
  <Aboutlanding />
  <p>Vi hos JT Anlæg ApS har over 20 års erfaring i anlægsbranchen. Vi klarer både små og store opgaver, og det gælder for både private og erhverv. Opgaverne kan være alt fra anlæg af haver med belægning og beplantning til nyanlæg ved nybyggeri og fornyelse af ældre haver. Er det brolægningsopgaver, du skal have en kyndig hånd til, står vi naturligvis også til rådighed.<br><br>
    Uanset opgaven tager vi højde for alle dine ønsker og behov, da vores fornemste opgave er at sørge for at yde en god service og levere kvalitetsarbejde. Vi prioriterer kundetilfredshed meget højt og lægger stor vægt på at udføre vores arbejde med præcision uanset omfang eller opgavetype.<br><br>
    Vi er medlem af Danske Anlægsgartnere. Det betyder, at vi arbejder under ordnede forhold, og at du trygt kan vælge os til din anlægsopgave.<br><br>
  </p>
  <p>Ønsker du et uforpligtende tilbud eller yderligere information om, hvad vi kan hjælpe dig med, er du velkommen til at kontakte os.<br><br>
    Vi glæder os til at byde dig velkommen.
  </p>
</Mainlayout>

<style>
  h3 {
    font-weight: 300;
  }

  p {
		max-width: 65ch;
		padding-inline: 2rem;
		align-self: center;
	}
  
  p:last-child {
    font-weight: 600;
    padding-bottom: 2rem;
  }
</style>