---
import { Image } from "astro:assets";
import Billede from "../assets/262-unsmushed.jpg"
import Privatlanding from "../components/Privatlanding.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
---
<Mainlayout title="Privat - JT Anlæg">
 <Privatlanding />
 <h3>Anlægsarbejde der gør naboen grøn af misundelse</h3>
<p>
  Er det tid til ny flot flisebelægning eller trænger Indkørelsen til at blive rettet op?<br>
  Skal der lægges helt nye fliser og laves om på terrassen?<br>
  Jt anlæg ApS har over 20 års erfaring indenfor haveanlæg, 
  så tag os med på råd på dit næste haveprojekt.<br> 
  Vi kommer gerne med gode ideer og forsalg til hvordan jeres ideer kan udføres, 
  så i får et flot resultat som holder i mange år frem. 
</p>
<section>
  <div>
    <h2>Vi udfører bl.a.:</h2>
    <ul>
      <li>Indkørsler</li>
      <li>Terrasser</li>
      <li>Nyanlæg</li>
      <li>Græsplaner</li>
      <li>Plantning af hæk</li>
      <li>og meget mere.</li>
    </ul>
    <p>
      Skal JTanlæg ApS hjælpe dig med dit næste haveprojekt så er du meget velkommen til at kontakte os og hører mere om dine muligheder.
    </p>
    <a href="/jt-astro-build/referencer/">Se hvad vi har lavet</a>
  </div>
  <div>
    <Image src={Billede} alt="" width="400" height="400" />
    <Image src={Billede} alt="" width="400" height="400" />
  </div>
</section>
</Mainlayout>

<style>
  h3 {
    font-weight: 300;
    text-align: center;
  }

  p {
		max-width: 65ch;
		padding-inline: 2rem;
		align-self: center;
		padding-bottom: 2rem;
	}

  ul {
    padding: 0;
    margin: 0;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block-end: 2rem;
    padding-inline: 2rem;
    align-items: center;
  }

  section:nth-child(4) > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  img {
    object-fit: cover;
    border-radius: 15px;
  }
  
  a	{
		background-color: rgb(101, 128, 70);
    border-radius: 5px;
    display: grid;
    place-items: center;
    padding: 1rem 2rem;
		text-decoration: none;  
    color: #fff;
		text-transform: uppercase;
		font-weight: 600;
    align-self: center;
    box-shadow: 0px 10px 10px -10px #fff;
    transition: box-shadow 100ms ease-in;    
	}

  a:hover {
    box-shadow: 0px 10px 10px -10px #333;
  }

  @media (min-width: 900px) {

    section {
      flex-direction: row;
      align-items: flex-start;
    }
    
    section:nth-child(4) > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 0.5rem;
  }

  section:nth-child(4) > div:nth-child(1) > p:nth-child(3) {
    padding-inline: 0;
  }

  
  section:nth-child(4) > div:nth-child(2) > img:nth-child(1) {
    z-index: 2;
  }
  
  section:nth-child(4) > div:nth-child(2) > img:nth-child(2) {
    transform: translate(10rem, -5rem);
  }
  }
</style>