---
import Privatlanding from "../components/Privatlanding.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
---
<Mainlayout title="Privat - JT Anlæg">
 <Privatlanding />
 <h3>Anlægsarbejde der gør naboen grøn af misundelse</h3>
<p>
  Er det tid til ny flot flisebelægning eller trænger Indkørelsen til at blive rettet op?<br>
  Skal der lægges helt nye fliser og laves om på terrassen?<br>
  Jt anlæg ApS har over 20 års erfaring indenfor haveanlæg, 
  så tag os med på råd på dit næste haveprojekt.<br> 
  Vi kommer gerne med gode ideer og forsalg til hvordan jeres ideer kan udføres, 
  så i får et flot resultat som holder i mange år frem. 
  
</p>
<h2>Vi udfører bl.a.:</h2>
<ul>
  <li>Indkørsler</li>
  <li>Terrasser</li>
  <li>Nyanlæg</li>
  <li>Græsplaner</li>
  <li>Plantning af hæk</li>
  <li>og meget mere.</li>
</ul>
<p>
  Skal JTanlæg ApS hjælpe dig med dit næste haveprojekt så er du meget velkommen til at kontakte os og hører mere om dine muligheder.
</p>
</Mainlayout>

<style>
  h3 {
    font-weight: 300;
  }

  p {
		max-width: 65ch;
		padding-inline: 2rem;
		align-self: center;
		padding-bottom: 2rem;
	}

  ul {
    padding: 0;
    margin: 0;
  }
</style>